<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="appId" value="57496b26-3702-4cbb-931e-7af591cebbbc" />
    <add key="appKey" value="4d3a5079d3de4236b22ec305caed9951" />
  </appSettings>
</configuration>